.xelis-xswd-relayer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.xelis-xswd-relayer-content {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: aquamarine;
    filter: drop-shadow(0px 0px 25px black);
}

.xelis-xswd-relayer-error {}

.xelis-xswd-relayer-loading {
    width: 50px;
    height: 50px;
    color: black;
    animation: xelis-xswd-relayer-loading-animation .75s infinite;
}

@keyframes xelis-xswd-relayer-loading-animation {
    100% {
        rotate: 360deg;
    }
}

.xelis-xswd-relayer-qrcode {}

.xelis-xswd-relayer-qrcode canvas {}